<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evento app</title>
</head>
<body>
    <h1>Cadastro de Evento</h1>
    <form method="POST" action="http://localhost:8080/cadastrarEvento">
        <label for="nome">Nome:</label> <input type="text" name="nome" id="nome">
        <label for="local">Local:</label> <input type="text" name="local" id="local">
        <label for="data">Data:</label> <input type="date" name="data" id="data">
        <label for="horario">Horário:</label> <input type="text" name="horario" id="horario">
        <button type="submit">Salvar</button>
    </form>
</body>
</html>